<% include ./layouts/_header%>
  <% include ./layouts/_sidebar.ejs%>
    
  <div class="app-content content">
    
  </div>
  <button class="btn btn-primary">User</button>
<% include ./layouts/_footer%>
