<!DOCTYPE html>
<html>
  <head>

    <link rel="apple-touch-icon" href="/images/fruits.png">
    <link rel="shortcut icon" type="image/x-icon" href="/ico/fruits.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <!-- <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" type="text/css" href="/theme-assets/css/vendors.css">
    <!-- <link rel="stylesheet" type="text/css" href="/theme-assets/vendors/css/charts/chartist.css"> -->
    <!-- END VENDOR CSS-->
    <!-- BEGIN CHAMELEON  CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="/theme-assets/css/app-lite.css"> -->
    <!-- END CHAMELEON  CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="/theme-assets/css/core/menu/menu-types/vertical-menu.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/theme-assets/css/core/colors/palette-gradient.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/theme-assets/css/pages/dashboard-ecommerce.css"> -->
  </head>
  <body >
    <header>
      <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <a class="navbar-brand" href="#">Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Fruits</a>
                <a class="dropdown-item" href="#">Drinks</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <a class="btn btn-primary my-2 my-sm-0" href="/login" >Login</a>
        </div>
      </nav>
    </header>
    <!-- fixed-top-->


