<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="/images/fruits.png">
    <link rel="shortcut icon" type="image/x-icon" href="/ico/fruits.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="apple-touch-icon" href="/theme-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/theme-assets/images/ico/favicon.ico">
    <link  href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <!-- <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" type="text/css" href="/theme-assets/css/vendors.css">
    <!-- Custom styles for this template -->
    <link href="/custom_css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="container">
        <form class="form-signin" method="Post" action="/add-cookie">
            <img class="mb-4" src="/images/fruits.png" alt="" width="72"
                height="72">
            <h1 class="h3 mb-3 font-weight-normal">Add a cookie</h1>
            <label for="inputCookieId" class="sr-only">Cookie-id</label>
            <input type="text" id="inputCookieId" name="inputCookieId" class="form-control" placeholder="Id" required="" autofocus="">
            <label for="inputCookieValue" class="sr-only">Value</label>
            <input type="text" id="inputCookieValue" name="inputCookieValue" class="form-control" placeholder="cookie value" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>
    </div>
</body>

</html>