<% include ./layouts/_header%>
  <main role="main" class="container">
    <% include ./layouts/_carousel%>
    <div class="starter-template text-center">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    <div class="row">
        <h1 class="text-center">Not Page</h1>
    </div>
  </main>
<% include ./layouts/_footer%>