<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name"/>
        <span class="invalid-feedback" id="nameError">12341234</span>
      </div>
      <!-- <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div> -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email"/>
        <div class="invalid-feedback" id="emailError"></div>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age"/>
        <div class="invalid-feedback" id="ageError"></div>
      </div>
    </div>
  </div>
</div>