<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name"/>
        <span class="invalid-feedback" style="display: block;" id="nameError"></span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email"/>
        <div class="invalid-feedback" style="display: block;" id="emailError"></div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
        <div class="invalid-feedback" style="display: block;" id="passwordError"></div>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" min="1" value="1"/>
        <div class="invalid-feedback" style="display: block;" id="ageError"></div>
      </div>
    </div>
  </div>
</div>